.page {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;

}

.content {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.images {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  background-color: white;
  padding: 3rem;
  border-radius: 30px;
  width: 70vw;
  min-height: 100vh;

}

.images p {
  width: 100%;
  color: black;
}

.images img {
  object-fit: cover;
}