

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  padding: 2rem;
  gap: 3rem;
  background-color: white;
  border: none;
  border-radius: 30px;
  color: #4c4c4c;
  
}

.sidenav button {
  width: 100%;
  background-color: transparent;
  color: #444444;
  border: 1px solid #a5a5a5;
  border-radius: 30px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.sidenav button:active {
    background-color: #1D1D1D;
    color: #ffffff;
  
}
